<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Where M I Editor</title>

  
  <!-- Routing conrol-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  
  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Fonts e icone -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Agency CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-agency/5.2.2/css/agency.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/browser.css" type="text/css">

  <!-- Routing conrol-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>

  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.3.1/dist/esri-leaflet.js"
  integrity="sha512-Np+ry4Dro5siJ1HZ0hTwn2jsmu/hMNrYw1EIK9EjsEVbDge4AaQhjeTGRg2ispHg7ZgDMVrSDjNrzH/kAO9Law=="
  crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.1/dist/esri-leaflet-geocoder.css"
  integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
  crossorigin=""> 
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.1/dist/esri-leaflet-geocoder.js"
  integrity="sha512-YUgyCwPXzSCFuYgNIsumhktAolzwxETPBwc+xAgJOW7B3/1r1EKf0WYpmNo+6a/9C/EAF9RxYnMynEmd+77fTA=="
  crossorigin=""></script>

  <!-- Google APIs -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

  <!-- Open Location Code -->
  <script src="https://cdn.jsdelivr.net/openlocationcode/latest/openlocationcode.js"></script>
  <script src="https://cdn.jsdelivr.net/openlocationcode/latest/openlocationcode.min.js"></script>
  
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
       <!-- Navbar -->
     <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/" style="font-family: Montserrat, sans-serif;margin-right: 0%;">Where M I?</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="browser.html">browser</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" id = "logOut" onclick="signOut()" href="#">log out</a></li>
                    <button onclick="handleAuthClick()" class="fa fa-google btn btn-primary" type="button">Accedi</button> 
                </ul>
            </div>
        </div>
    </nav>
  
<section>
  <div class="container">
      <div class="row d-xl-flex justify-content-xl-center">
          <div class="col text-center d-xl-flex justify-content-xl-center" style="margin-bottom: 2%;"><button onclick="handleAuthClick()" class="fa fa-google" type="button">Accedi</button></div>
  </div>
    
  <!-- Inizio Intestazione -->
    <div class="intro">
      <h2 class="text-center">Crea una nuova clip<br></h2>
      <p class="text-center">Seleziona un marker e completa i seguenti campi per creare una nuova clip<br></p>
    </div>
  <!-- Fine Intestazione -->
    
  <!-- Inizio Mappa -->
    <div class="row">
        <div id="map-section" class="container-fluid padding fill">
          <div id="map"></div>
        </div>
    </div>
  <!-- Fine Mappa -->
  
  <!-- METADATA for clips -->
    <form>
      <!-- Name -->
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                <label for="Name">Nome&nbsp;</label>
                <input id="name" class="border rounded border-white shadow form-control-lg" type="text" style="width: 100%;" aria-describedby="nameHelpBlock" required>
                <small id="nameHelpBlock" class="form-text text-muted">
                 Inserisci il nome del punto di interesse
                </small>
              </div>
            </div>
        </div>
      <!-- Description -->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="description">Descrizione<br></label>
              <textarea id="description" rows="3" class="border rounded border-white shadow form-control-lg" style="width: 100%; height: 5%" aria-describedby="descriptionHelpBlock"></textarea>
              <small id="descriptionHelpBlock" class="form-text text-muted">
                Descrizione del punto di interesse selezionato
              </small>
            </div>
          </div>
        </div>
      <!-- Scopo -->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="portfolio-hover" for="purpose">Scopo</label>
              <a class="portfolio-link" data-toggle="modal" href="#modalPurpose">?</a>
              <select id="purpose" class="border-white shadow custom-select custom-select-lg"  aria-describedby="purposeHelpBlock" v-model="selected" onchange="showDetailLevel()"><optgroup label="Select purpose">
              <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
              </option>
              </select>
              <small id="purposeHelpBlock" class="form-text text-muted">
            Scopo della clip
              </small>
            </div>
          </div>
        </div>
      <!-- Lingua -->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group"><label for="language">Lingua&nbsp;</label>
              <select id="language" class="border-white shadow custom-select custom-select-lg"  aria-describedby="languageHelpBlock" v-model="selected"><optgroup label="Select language">
              <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
              </option>
              </select>
              <small id="languageHelpBlock" class="form-text text-muted">
              Linguaggio utilizzato nella clip
              </small>
            </div>
          </div>
        </div>
    
      <!-- Categoria -->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="public">Pubblico&nbsp;</label>
              <select id="audience" class="border-white shadow custom-select custom-select-lg"  aria-describedby="publicHelpBlock" v-model="selected"><optgroup label="Select interested public">
              <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
              </option>
              </select>
              <small id="publicHelpBlock" class="form-text text-muted">
               Pubblico adatto alla clip
              </small>
            </div>
          </div>
        </div>
      <!-- Categoria -->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group"><label for="category">Category&nbsp;</label>
              <select id="content" class="border-white shadow custom-select custom-select-lg"  aria-describedby="cateogyHelpBlock" v-model="selected"><optgroup label="Select category">
              <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
              </option>
              </select>
              <small id="cateogyHelpBlock" class="form-text text-muted">
              Categoria della clip
              </small>
            </div>
          </div>
        </div>
    
      <!--Livello -->
        <div class="row">
          <div class="col-sm-6">
            <select id="detailLevel" class="border-white shadow custom-select custom-select-lg"  aria-describedby="detailHelpBlock" v-model="selected"><optgroup label="Select Detail level">
            <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
            </option>
            </select>
          </div>
        </div>
    
      <!-- SIXT ROW FOR CLIPS... -->
        <div class="row"> 
          <div id="buttonSelection"  class="col-xl-2 offset-xl-5 text-center" style="margin-top: 2%;">
          <!-- RECORDING -->
            <button id="record" class="btn btn-primary btn-block btn-sm text-center" >REC&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
            <!-- STOP -->
            <button id="stopButton" class="btn btn-danger js-scroll-trigger btn-block btn-sm text-center" type="submit">STOP&nbsp;<i class="fa fa-times-circle fa-fw"></i></button>
          </div> 
        </div> 
    
    </div> <!-- End: div data -->
</div>
</section>

<!-- </form> -->
  </div>
</div>
<!-- End: Metadata -->


 <!-- Footer -->
 <footer class="footer" style="background-color: #495057;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span class="copyright" style="color: #FFFFFF">Copyright &copy; Where M I 2019</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  

   <!-- Our JS scripts -->
   <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
   <script src="/static/javascript/Geocoder.js"></script>
   <script src="/static/javascript/config.js"></script>
   <script src="/static/javascript/editor.js"></script>
  

   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>
</html>
