.navbar {
  background-color: #34456a;
  /* sovrascrive le regole di agency.min.css */
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

.nav-link {
  font-size: 1.1rem;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

footer.page-footer {
  background-color: #34456a;
}

#map {
  margin: 90px 30px;
  height: 88vh;
}

#registraVideo {
  padding: 0px !important;
  margin-top: 20px;
}

.btn.btn-success {
  margin-right: 5px;
}

input#titolo {
  background: #fff !important;
}

.form-control {
  font-size: 125%;
}

@media only screen and (max-width: 768px) {
  .navbar a{
      text-align: left;
  }

  video {
    vertical-align: top;
    --width: 25vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
  }

  video:last-of-type {
    margin: 0 0 20px 0;
  }

  video#gumVideo {
    margin: 0 20px 20px 0;
  }

  #map {
    margin: 100px 5px;
    height: 75vh;
  }

  section {
    padding: 38.156px 0 !important;
  }
}