.navbar {
  background-color: #34456a;
  /* sovrascrive le regole di agency.min.css */
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

.nav-link {
  font-size: 1.1rem;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

footer.page-footer {
  background-color: #34456a;
}


#map {
    margin: 100px 5px;
    height: 75vh;
}


li {
    list-style-type: none;
}

#map {
  margin: 80px 30px;
  height: 88vh;


}

@media only screen and (max-width: 768px) {
  .navbar a{
      text-align: left;
  }


  #map {
      margin: 100px 5px;
      height: 75vh;
  }
}


/* style for direction mapp */
.results {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 320px;
  height: 480px;
  overflow-y: scroll;
}
