.navbar {
  background-color: #34456a;
  /* sovrascrive le regole di agency.min.css */
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar-nav li {
  padding-right: 1.3rem;
}

.nav-link {
  font-size: 1.1rem;
}

.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

footer.page-footer {
  background-color: #34456a;
}

#map {
  margin: 80px 30px;
  height: 88vh;
}
clipsection {margin: 80px 30px;
height: 88vh;
}

@media only screen and (max-width: 768px) {
  .navbar a{
      text-align: left;
  }


  #map {
      margin: 100px 5px;
      height: 75vh;
  }
}
